
<!-- agregamos el bloque extends que tomara el html base-->
{% extends 'Inicio/base.html' %}

<!-- Agregamos el contenido estatico-->
{% load static %}

<!-- Agregamos el titulo de la home -->
{% block title %} Tarjetas {% endblock %}

<!-- indicamos que lo de abajao se dibuje despues del menu armado en la base-->
{% block content %}


<section>
    <h3 class="texto"> Listado de cuentas </h1>
    <div>
        {% for cuenta in cuentas %}
            <p> {{ cuenta }} </p>
        {% endfor %}
    </div>
</section>

{% endblock %}